.manga {
  margin: 90px auto 0;
  position: relative;
  width: 686px;
  height: 800px;
  border-radius: 20px;

  
}

.manga__image {
  width: 686px;
  height: 800px;
  object-fit: contain;
  @media (max-width: 600px) {
    width: 100vw;
  }
}

.manga__switch__left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50%;
  height: 100%;
  cursor: pointer;
}

.manga__switch__right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 50%;
  height: 100%;
  cursor: pointer;
}

.manga__back-button {
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.2);
  top: 90px;
  left: 20px;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #000;
  color: #000;
  transition: all 0.1s ease-in-out;
}

.manga__back-button:hover {
  background-color: #c766ef;
  border: 2px solid #c766ef;
  color: #fff;
}

.page2-new-container {
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.2);
  top: 90px;
  left: 20px;
  padding: 20px;
  border-radius: 2px;
  border: 2px solid #000;
  color: #000;
  transition: all 0.1s ease-in-out;
  
  
}

.manga2__back-button {
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.2);
  top: 180px;
  left: 20px;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #000;
  color: #000;
  transition: all 0.2s ease-in-out;
}

.manga2__back-button:hover {
  background-color: #efcf66;
  border: 2px solid #efcf66;
  color: #fff;
}
