@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1vw;
  background-image: url(img/fon-img.jpg);




  /* настройка для манги на плашки по центру */
  .mangascreensaver {
    margin-top: 2vw;
    position: absolute;
    top: 11vw;
    left: 6vw;
    right: 0;
    bottom: 0;
    z-index: 2;
    border-radius: 1vw;
    box-shadow: 0 0 1vw #444;
    height: 13vw;
    width: 9vw;
  }
  /* настройка для манги на плашки по центру */
  .mangascreensaver2 {
    margin-top: 3vw;
    position: absolute;
    top: 25vw;
    left: 6vw;
    right: 0;
    bottom: 0;
    z-index: 2;
    border-radius: 1vw;
    box-shadow: 0 0 1vw #444;
    height: 13vw;
    width: 9vw;
  }
  /* настройка кортинки для манги в будушем*/
  .inthefuture {
    position: absolute;
    top: 0.5vw;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    box-shadow: 0 0 1vw #444;
    border-radius: 0.5vw;
    width: 3vw;
    height: 4.5vw;
  }
  /* название манги такийские мстители */
  .namemangatxt {
    position: absolute;
    top: 26vw;
    left: 6vw;
    color: bisque;
  }

  /* назание манги ичиго */
  .ichigotxt {
    position: absolute;
    top: 41vw;
    left: 6vw;
    color: bisque;
  }

  /* верхния плашка с мангой */
  .upperbarrier {
    width: 100vw;
    height: auto;
    position: fixed;
    top: 0vw;
    left: 0vw;
    border: 2.7vw solid bisque;
    background: chocolate;
    position: fixed;
  }
  /* верхния контур дял плашки с мангой */
  .theboundaries {
    width: 100vw;
    height: auto;
    position: absolute;
    top: 0vw;
    left: 0vw;
    border: 0.2vw solid grey;
  }
  /* нижний контур дял плашки с мангой */
  .lowerboundaries {
    width: 100vw;
    height: auto;
    position: absolute;
    top: 5.1vw;
    left: 0vw;
    border: 0.2vw solid grey;
  }
  /* контур для правай плашки */ 
  .rbarrierborder {
    width: 5.2vw;
    height: 47vw;
    position: absolute;
    top: 5.1vw;
    left: 92.6vw;
    border: 0.3vw solid grey;
  }
  /* плашка справа для категрой манги  */
  .rightbarrier {
    width: 5vw;
    height: 50vw;
    position: absolute;
    top: 5.2vw;
    left: 92.6vw;
    border: 2vw solid bisque;
    background-color: bisque;
  }
  /* основная плашка с мангой по центру */
  .centerbarrier {
    width: 80vw;
    height: 30vw;
    position: absolute;
    top: 13vw;
    left: 5vw;
    border: 15vw solid grey;
    border-radius: 1vw;
    box-shadow: 0 0 1vw #444;
  }
}

